:root {
  --button-color: #39795a;
  --button-color-hover: rgb(48, 109, 80);
  --primary-color: #2d4c3d;
  --secondary-color: #333;
  --ligth-grey-color: #f5f5f5;
  --medium-grey-color: #ddd;

  --border-radius: 8px;
}
